<mat-toolbar>
  <h2>Passwort zurücksetzen</h2>
</mat-toolbar>

<div class="container">
  <mat-card class="my-card">
    <mat-card-header>
      <mat-card-title *ngIf="!(isReset || isTokenNotOk)">Bitte geben Sie einen neuen Passwort ein:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <p *ngIf="isReset">Sie haben Ihren Passwort erfolgreich zurückgesetzt! Bitte <a routerLink="../login">loggen Sie sich ein</a>.</p>
        <p *ngIf="isTokenNotOk">Etwas ist schiefgelaufen. Versuchen Sie bitte, Ihren Passwort noch mal
          <a routerLink="../passwort-vergessen">zurückzusetzen.</a></p>
      </div>
      <form name="my-form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <ng-template #resetPasswordForm>
          <mat-form-field class="full-width">
            <mat-label>Passwort</mat-label>
            <input matInput placeholder="Passwort" [(ngModel)]="form.password" type="password" name="password" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Passwort bestätigen</mat-label>
            <input matInput placeholder="Passwort bestätigen" [(ngModel)]="form.passwordConfirm" type="password"
                   name="passwordConfirm" required>
          </mat-form-field>
        </ng-template>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button *ngIf="!(isReset || isTokenNotOk)" color="primary" type="submit" (click)="onSubmit()">Passwort zurücksetzen</button>
    </mat-card-actions>
  </mat-card>
</div>
