<div class="content">
  <div class="bereich1">
    <mat-card class="introcard">
      <div class="image-container">
        <img mat-card-image src = "https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Hotel_Playground_Yachthafenresidenz_Hohe_D%C3%BCne_Rostock_2.jpg/1920px-Hotel_Playground_Yachthafenresidenz_Hohe_D%C3%BCne_Rostock_2.jpg" align="right">
      </div>
      <div class="content-container">
        <mat-card-titel>Simple card</mat-card-titel>
        <br>
        <br>
        <mat-card-subtitle>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
          sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
          aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
          duo dolores et ea rebum.
        </mat-card-subtitle>
        <br>

        <!--<mat-card-actions align="end">
          <button mat-raised-button routerLink="test" color="primary">Erfahre mehr</button>
        </mat-card-actions>-->
      </div>
    </mat-card>
  </div>
  <h3 class="slogan">Sichere dir bis zu 1000€ für dein Herzensprojekt!</h3>

  <br>
  <mat-card class="introcard">

    <div class="content-container">
      <mat-card-titel><h3></h3></mat-card-titel>
      <br>
      <br>
      <h5 class="text">Möchtest Du auch dein Kiez mitgestalten? Hast du auch eine Idee, die deinem Kiez
        verbessern könnten?</h5>
        <h5>Dann Registriere dich Jetzt!
      </h5>
      <br>

      <mat-card-actions align="end">
        <button mat-raised-button routerLink="registrieren" color="primary">zur Registrierung</button>
      </mat-card-actions>
    </div>
  </mat-card>


  <!--<div class="info">
    <mat-grid-list cols="2" rowHeight="400px" >
      <div class="infogrid2">
        <br>
        <h3>Was ist der Kiezfond?</h3>
        <mat-grid-tile>
          <div class="infotext">
            Im Rahmen des Kiezfonds stehen für jeden Stadtteil Lichtenbergs Mittel aus dem Bezirkshaushalt
            (Haushaltsplan 2019: 10.000 € je Stadtteil) zur Verfügung, um gute Ideen, die das Zusammenleben
            im Kiez fördern oder das Wohnumfeld verschönern, in die Tat umzusetzen. Jede Anwohnerin, jeder Anwohner,
            Initiativen und Vereine können Projektmittel von grundsätzlich bis
            zu 1.000 € für die Realisierung einer solchen Idee beantragen.
          </div>
        </mat-grid-tile>
      </div>
      <div class="infogrid1">
        <mat-grid-tile>
          <img mat-card-image src = "https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/2018_05_Havelland_Spielplatz_IMG_1920.JPG/220px-2018_05_Havelland_Spielplatz_IMG_1920.JPG" style="height:200px;width:350px;"align="right">
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>-->

  <div class="bereich12">
    <mat-card class="introcard">

      <div class="content-container">
        <mat-card-titel><h3>Was ist der Kiezfond?</h3></mat-card-titel>
        <br>
        <br>
        <mat-card-subtitle>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
          sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
          aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
          duo dolores et ea rebum.
        </mat-card-subtitle>
        <br>

        <!--<mat-card-actions align="end">
          <button mat-raised-button routerLink="test" color="primary">Erfahre mehr</button>
        </mat-card-actions>-->
      </div>
      <div class="image-container">
        <img mat-card-image src = "http://www.foerdermittelbuero.de/wp-content/uploads/2017/07/P7180100-e1500921932763.jpg" align="right">
      </div>
    </mat-card>

  </div>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary">Mehr Informationen</button>
  </mat-card-actions>
</div>
