

<header>

  <button type="button">Ausloggen</button>

  <label id="text" name="text" cols="3" rows="1">123@hotmail.de </label>
  <br>
  <br>
  <br>
  <a href="" routerLink="registrieren" style="text-decoration: underline; color:white">Noch nicht registriert?</a>
  <nav>
    <a href="https://www.vav-hhausen.de/">
      <img src="https://www.vav-hhausen.de/Stadtteilarbeit/Logos/stadtteilkoord_logo-190717.png"
           width="160px" height="80px"></a>
    <table>
      <thead>
      <tr>
        <th>
          <a href="" style=color:white>Infos zum Kiezfonds</a></th>

        <th>
          <a href="" style=color:white>Alle entschiedenen Anträge</a></th>

        <th>
          <a href="" style=color:white>Alle Termine</a></th>

        <th>
          <a href="" style=color:white>Meine Anträge</a></th>

        <th>
          <a href="" routerLink="formula" style=color:white>Antrag stellen</a></th>


      </tr>
      </thead>
    </table>

  </nav>
</header>
