<div>
  <mat-toolbar color="primary">
    <a href="#" mat-button routerLink="/" class="home-elem">
      <mat-icon class="homeIcon">home</mat-icon>  <!--routerLink="router-outlet"-->
      <span class="header">Kiezfonds HSH</span>
      <span class="spacer"></span>
    </a>
    <div fxShow="true" fxHide.lt-md="true"  >
      <a *ngIf="!isLoggedIn || (isLoggedIn && authority==='user')" routerLink="infos-zum-kiezfond" href="#" mat-button>Infos zum Kiezfonds</a>
      <a href="#" mat-button *ngIf="isLoggedIn && authority==='user'" routerLink="all-applications" href="#">Meine Anträge</a>
      <a href="#" mat-button *ngIf="isLoggedIn && authority==='gs'" routerLink="geschaeftsstelle">Alle Anträge</a>
      <div *ngIf="!isLoggedIn; then routeLogin;"></div>
      <div *ngIf="isLoggedIn && authority === 'user'; then routeDatenschutz;"></div>
<!--       <a href="#" mat-button routerLink="infos-zum-kiezfond">Infos zum Kiezfonds</a>
      <a href="#" mat-button *ngIf="isLoggedIn">Meine Anträge</a>
      <div *ngIf="isLoggedIn; then routeDatenschutz else routeLogin"></div> -->
      <ng-template #routeDatenschutz>
        <a href="#" mat-button routerLink="datenschutz">Antrag stellen</a>
      </ng-template>
      <ng-template #routeLogin>
        <a href="#" mat-button routerLink="login">Antrag stellen</a>
      </ng-template>
    </div>

    <mat-menu #appMenu="matMenu">
      <button mat-menu-item routerLink="login" *ngIf="!isLoggedIn">Login</button>
      <button mat-menu-item routerLink="registrieren" *ngIf="!isLoggedIn">Registrieren</button>
            <button mat-menu-item disabled *ngIf="isLoggedIn">{{userEmail}}</button>
      <button mat-menu-item (click)="logout()" routerLink="" *ngIf="isLoggedIn">Logout</button> <!--routerLink="logout"-->
    </mat-menu>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon class="personIcon">person</mat-icon>
    </button>

<!--    Auskommentiert, da nicht in Benutzung:-->
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="container">
    <mat-sidenav mode="over" #sidenav role="navigation"
                 [fixedInViewport]="true"
                 [fixedTopGap]="65"
                 [fixedBottomGap]="400">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" mat-button>Schließen</a>
        <button mat-button routerLink="infos-zum-kiezfond">Infos zum Kiezfonds</button>
        <button mat-button routerLink="all-applications">Meine Anträge</button>
        <div *ngIf="isLoggedIn; then routeDatenschutz else routeLogin"></div>
        <ng-template #routeDatenschutz>
          <button mat-button routerLink="datenschutz">Antrag stellen</button>
        </ng-template>
        <ng-template #routeLogin>
          <button mat-button routerLink="login">Antrag stellen</button>
        </ng-template>
        <!--        <button mat-button routerLink="formula">Antrag stellen</button>-->
      </div>
    </mat-sidenav>


    <mat-sidenav-content>
      <router-outlet name ="side"></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
