<div>
  <mat-toolbar color="primary">
    <mat-icon class="homeIcon" routerLink="router-outlet">home</mat-icon>
    <span class="header" routerLink="router-outlet" >Kiezfonds HSH</span>

    <span class="spacer"></span>

    <div fxShow="true" fxHide.lt-md="true"  >
      <a href="#" mat-button>Infos zum Kiezfonds</a>
      <a href="#" mat-button *ngIf="isLoggedIn">Meine Anträge</a>
      <div *ngIf="isLoggedIn; then routeDatenschutz else routeLogin"></div>
      <ng-template #routeDatenschutz>
        <a href="#" mat-button routerLink="datenschutz">Antrag stellen</a>
      </ng-template>
      <ng-template #routeLogin>
        <a href="#" mat-button routerLink="login">Antrag stellen</a>
      </ng-template>
    </div>

    <mat-menu #appMenu="matMenu">
      <button mat-menu-item disabled>Profil </button>
      <button mat-menu-item routerLink="login">Einloggen</button>
      <button mat-menu-item routerLink="registrieren">Registrieren</button>
    </mat-menu>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon class="personIcon">person</mat-icon>
    </button>

    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" href="#" mat-button>Schließen</a>
        <button mat-button>Infos zum Kiezfonds</button>
        <button mat-button>Meine Anträge</button>
        <div *ngIf="isLoggedIn; then routeDatenschutz else routeLogin"></div>
        <ng-template #routeDatenschutz>
          <button mat-button routerLink="datenschutz">Antrag stellen</button>
        </ng-template>
        <ng-template #routeLogin>
          <button mat-button routerLink="login">Antrag stellen</button>
        </ng-template>
<!--        <button mat-button routerLink="formula">Antrag stellen</button>-->
      </div>
    </mat-sidenav>


    <mat-sidenav-content>
      <router-outlet name ="side"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
