<footer class="ng-scope">
  <div class="footer_container">
    <div class="col-sm-5 footer-part">
      <div class="footer-part-item">
        <div class="footer-part-title ff anim-hide ng-binding">Wichtige Links:</div>
      </div>
    </div>
  </div>
  <section>
    <table >
      <thead>
      <tr>
        <th width="100" height="50">
          <a routerLink="hyperlink" routerLinkActive="active" style= color:white >Downloads</a></th>
        <th width="100" height="50">
          <a href="" style=color:white>Datenschutz</a></th>
        <th width="200" height="50">
          <a href="" style=color:white>Recht & Impressum</a></th>
        <th width="100" height="50">
          <a href="" style=color:white>Kontakt</a></th>
      </tr>
      </thead>
    </table>
  </section>
</footer>
















