<mat-toolbar color="primary" >
  <div id="links">
    <h3 class="schrift">Wichtige Links</h3>
    <!--<hr>-->
    <a href="https://www.berlin.de/ba-lichtenberg/" >Bezirksamt Lichtenberg</a><br>
    <a href="https://www.buergerhaushalt-lichtenberg.de/">Bürgerhaushalt Lichtenberg</a><br>
    <a href="http://www.stk-lichtenbergmitte.de/" >Stadtteilkoordination Lichtenberg</a><br>
  </div>
  <div id="mitte">
    <a routerLink="/datenschutz-footer">Datenschutz</a><br>
    <a routerLink="/impressum" >Impressum</a>
  </div>
  <div id="rechts" >
    <h3 class="schrift">Kontakt</h3>
    <!-- <hr>-->
    <div><img src="https://image.flaticon.com/icons/png/512/263/263115.png" style="height:20px; width:20px;">&nbsp;  Möllendorffstr. 6, 10367 Berlin</div>
    <div><img src="https://image.flaticon.com/icons/png/512/1034/1034146.png" style="height:20px; width:20px;">&nbsp; poststelle@lichtenberg.berlin.de</div>
    <div><img src="https://image.flaticon.com/icons/png/512/1034/1034131.png" style="height:20px; width:20px;">&nbsp; (030) 90296 – 0</div>
  </div>
</mat-toolbar>
