<!--<div id="content" #content >-->
<!--  <ng-template #preview>-->
<!--    <h3>Überprüfen Sie Ihre Angaben:</h3>-->
<!--    <h5>Persönliche Angaben</h5>-->
<!--    <table class="preview-table">-->
<!--      <tr><td>Anrede: </td><td>{{form.anrede}}</td></tr>-->
<!--      <tr><td>Vorname: </td><td> {{form.vorname}} </td></tr>-->
<!--      <tr><td>Nachname: </td><td>{{form.nachname}}</td></tr>-->
<!--      <tr><td>Träger/Einrichtung: </td><td>{{form.einrichtung}}</td></tr>-->
<!--      <tr><td>Straße: </td><td>{{form.strasse}}</td></tr>-->
<!--      <tr><td>Hausnummer: </td><td>{{form.hausnr}}</td></tr>-->
<!--      <tr><td>Postleitzahl: </td><td>{{form.plz}}</td></tr>-->
<!--      <tr><td>E-Mail: </td><td>{{form.email}}</td></tr>-->
<!--      <tr><td>Telefon: </td><td>{{form.telnr}}</td></tr>-->
<!--    </table>-->
<!--    <h5>Angaben zum Projekt</h5>-->
<!--    <table class="preview-table">-->
<!--      <tr><td>Projektname: </td><td>{{form.projektname}}</td></tr>-->
<!--      <tr><td>Beschreibung: </td><td>{{form.beschreibung}}</td></tr>-->
<!--      <tr><td>Gewünschtes Startdatum: </td><td>{{form.startdatum}}</td></tr>-->
<!--      <tr><td>Gewünschtes Enddatum: </td><td>{{form.enddatum}}</td></tr>-->
<!--      <tr><td>Geplantes Ort: </td><td>{{form.ort}}</td></tr>-->
<!--      <tr><td>Zielgruppe: </td><td>{{form.zielgruppe}}</td></tr>-->
<!--      <tr><td>Anzahl Teilnehmer: </td><td>{{form.anzteiln}}</td></tr>-->
<!--      <tr><td>öffentlichkeitswirksame Arbeiten: </td><td>{{form.oeffarb}}</td></tr>-->
<!--      <tr><td>Deren Beschreibung: </td><td>{{form.oeffarbbeschr}}</td></tr>-->
<!--      <tr><td>Gesamtkosten: </td><td>{{gesamtSumme}}</td></tr>-->
<!--    </table>-->
<!--    <h5>Kosten</h5>-->
<!--    <p><b>Aufwandsentschädigungen</b></p>-->
<!--    <ng-container *ngIf="aufwandKostenExist; else keineAufwandkosten">-->
<!--      <table class="preview-table">-->
<!--        <ng-container *ngFor="let aufwand of aufwandKostenArray">-->
<!--          <tr><th>Posten: </th><th>Betrag: </th></tr>-->
<!--          <tr><td>{{aufwand.zweck}}</td><td>{{aufwand.cost}}</td></tr>-->
<!--        </ng-container>-->
<!--      </table>-->
<!--    </ng-container>-->
<!--    <div id="keineAufwandkosten">-->
<!--      <ng-template #keineAufwandkosten>-->
<!--        <p>Es wurden keine Aufwandsentschädigungskosten angegeben.</p>-->
<!--      </ng-template>-->
<!--    </div>-->
<!--    <p><b>Sachkosten</b></p>-->
<!--    <ng-container *ngIf="sachKostenExist; else keineSachkosten">-->
<!--      <table class="preview-table">-->
<!--        <ng-container *ngFor="let sachkosten of sachKostenArray">-->
<!--          <tr><th>Posten: </th><th>Betrag: </th></tr>-->
<!--          <tr><td>{{sachkosten.zweck}}</td><td>{{sachkosten.cost}}</td></tr>-->
<!--        </ng-container>-->
<!--      </table>-->
<!--    </ng-container>-->
<!--    <div id="keineSachkosten">-->
<!--      <ng-template #keineSachkosten>-->
<!--        <p>Es wurden keine Sachkosten angegeben.</p>-->
<!--      </ng-template>-->
<!--    </div>-->
<!--    <div class="example-button-row">-->
<!--      <button mat-raised-button color="primary" matStepperPrevious type="button">Zurück</button>-->
<!--      <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Antrag senden</button>-->
<!--      <button  mat-raised-button color="primary" matStepperPrevious type="button" (click)="download()">download </button>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</div>-->

