<div class="container" *ngIf="application">
  <div class="detailseite">
    <kendo-pdf-export #pdf paperSize="A4" margin="1cm" forcePageBreak=".page-break">
      <h4>{{application.projektname}}</h4>
      <br>
      <span><b>Projekt-Informationen</b></span>
      <table class="preview-table">
        <tr><td>Formular-ID: </td><td>{{application.formId}}</td></tr>
        <tr><td>Erstellt am: </td><td>{{application.createdAt}}</td></tr>
        <tr><td>Projektname: </td><td>{{application.projektname}}</td></tr>
        <tr><td>Beschreibung: </td><td>{{application.beschreibung}}</td></tr>
        <tr><td>Gewünschtes Startdatum: </td><td>{{application.startdatum}}</td></tr>
        <tr><td>Gewünschtes Enddatum: </td><td>{{application.enddatum}}</td></tr>
        <tr><td>Geplantes Ort: </td><td>{{application.ort}}</td></tr>
        <tr><td>Zielgruppe: </td><td>{{application.zielgruppe}}</td></tr>
        <tr><td>Anzahl Teilnehmer: </td><td>{{application.anzteiln}}</td></tr>
        <tr><td>Öffentlichkeitswirksame Arbeiten: </td><td>{{application.oeffarb}}</td></tr>
        <tr><td>Deren Beschreibung: </td><td>{{application.oeffarbbeschr}}</td></tr>
        <tr><td>Gesamtkosten: </td><td>{{application.gesamtkosten}}</td></tr>
      </table>
      <br>
      <span><b>Persönliche Informationen</b></span>
      <table class="preview-table">
        <tr><td>Anrede: </td><td>{{application.anrede}}</td></tr>
        <tr><td>Vorname: </td><td> {{application.vorname}} </td></tr>
        <tr><td>Nachname: </td><td>{{application.nachname}}</td></tr>
        <tr><td>Träger/Einrichtung: </td><td>{{application.einrichtung}}</td></tr>
        <tr><td>Straße: </td><td>{{application.strasse}}</td></tr>
        <tr><td>Hausnummer: </td><td>{{application.hausnr}}</td></tr>
        <tr><td>Postleitzahl: </td><td>{{application.plz}}</td></tr>
        <tr><td>E-Mail: </td><td>{{application.email}}</td></tr>
        <tr><td>Telefon: </td><td>{{application.telnr}}</td></tr>
      </table>
    </kendo-pdf-export>
    <div class="buttons">
     <!-- <button (click)="callChangeState($event)" id='btnGenehmigen' mat-raised-button color="primary" >Genehmigen</button>
      <button (click)="callChangeState($event)" id='btnAblehnen' mat-raised-button color="primary" >Ablehnen</button>-->
      <button (click)="genehmigen()" id='btnGenehmigen' mat-raised-button color="primary" routerLink="/geschaeftsstelle">Genehmigen</button>
      <button (click)="ablehnen()" id='btnAblehnen' mat-raised-button color="primary" routerLink="/geschaeftsstelle">Ablehnen</button>
      <button mat-raised-button color="primary" type="submit"
              kendo-button (click)="pdf.saveAs('Antrag_Kiezfond.pdf')">
        <i class="material-icons">cloud_download</i>
        <span> Als PDF herunterladen</span>
      </button>
    </div>
  </div>
</div>
