<div>
  <h2>Datenschutzbestimmungen</h2>
  <br>
  <h5>1. Verantwortliche/r</h5>
  <p>Verantwortliche/r im Sinne der Datenschutz-Grundverordnung (DSGVO) und anderer nationaler Datenschutzgesetze der Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen ist:</p>
  <p style="font-weight: bold">Bezirksamt Lichtenberg von Berlin</p>
  <p>E-Mail:
    Post.Buergermeister@lichtenberg.berlin.de
  <p> Anschrift:
    Möllendorffstraße 6
    , 10367 Berlin</p>
  <br>
  <h5>2. Zentrale Dienste des Webportals</h5>
  <p>Betreibergesellschaft für das Portal Berlin.de ist die BerlinOnline Stadtportal GmbH & Co. KG, Alte Jakobstraße 105, 10969 Berlin.</p>
  <p>Für den technischen Betrieb dieser Seite und alle damit einhergehenden Datenverarbeitungsvorgänge, insbesondere</p>
  <li>Bereitstellung der Website und Erstellung von Logfiles</li>
  <li>Verwendung von Cookies</li>
  <li>Webanalyse/Statistik Zählpixel</li>
  <p>ist Verantwortliche/r im Sinne der Datenschutz-Grundverordnung (DSGVO) und anderer nationaler Datenschutzgesetze der Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen die:</p>
  <p> BerlinOnline Stadtportal GmbH & Co. KG</p>
  <p> Alte Jakobstraße 105
    ,10969 Berlin </p>
  <p>Die Datenschutzbeauftragte der BerlinOnline Stadtportal GmbH & Co. KG ist wie folgt erreichbar: </p>
  <p>BerlinOnline Stadtportal GmbH & Co. KG</p>
  <p> Datenschutzbeauftragte</p>
  <p> Alte Jakobstraße 105,
    10969 Berlin </p>
  <p>E-Mail: dsb@berlinerverlag.com</p>
  <p>Diese enthält wichtige Informationen zum Datenschutz betreffend die Betreiberseiten und den technischen Betrieb der Behördenseiten.</p>
  <br>
  <button mat-raised-button color="primary" routerLink="/formula">Weiter</button>
</div>
