<div>
  <h2>Datenschutzbestimmungen</h2>
  <br>
  <h5>1. Verantwortliche/r</h5>
  <p>Verantwortliche/r im Sinne der Datenschutz-Grundverordnung (DSGVO) und anderer nationaler Datenschutzgesetze der Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen ist:</p>
  <p style="font-weight: bold">Bezirksamt Lichtenberg von Berlin</p>
  <p>E-Mail:
    Post.Buergermeister@lichtenberg.berlin.de
  <p> Anschrift:
    Möllendorffstraße 6
    , 10367 Berlin</p>
  <br>
  <h5>2. Zentrale Dienste des Webportals</h5>
  <p>Betreibergesellschaft für das Portal Berlin.de ist die BerlinOnline Stadtportal GmbH & Co. KG, Alte Jakobstraße 105, 10969 Berlin.</p>
  <p>Für den technischen Betrieb dieser Seite und alle damit einhergehenden Datenverarbeitungsvorgänge, insbesondere</p>
  <li>Bereitstellung der Website und Erstellung von Logfiles</li>
  <li>Verwendung von Cookies</li>
  <li>Webanalyse/Statistik Zählpixel</li>
  <p>ist Verantwortliche/r im Sinne der Datenschutz-Grundverordnung (DSGVO) und anderer nationaler Datenschutzgesetze der Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen die:</p>
  <p> BerlinOnline Stadtportal GmbH & Co. KG</p>
  <p> Alte Jakobstraße 105
    ,10969 Berlin </p>
  <p>Die Datenschutzbeauftragte der BerlinOnline Stadtportal GmbH & Co. KG ist wie folgt erreichbar: </p>
  <p>BerlinOnline Stadtportal GmbH & Co. KG</p>
  <p> Datenschutzbeauftragte</p>
  <p> Alte Jakobstraße 105,
    10969 Berlin </p>
  <p>E-Mail: dsb@berlinerverlag.com</p>
  <p>Diese enthält wichtige Informationen zum Datenschutz betreffend die Betreiberseiten und den technischen Betrieb der Behördenseiten.</p>
  <br>

  <form>
    <mat-checkbox color="primary" #cb1 required>
      <mat-label>Hiermit bestätige ich, dass alle Angaben richtig sein werden.</mat-label>
    </mat-checkbox>
    <br>
    <!--          <mat-checkbox color="primary" required>-->
    <!--            <mat-label>Hiermit widerrufe ich meine Einwilligung zur Verwendung meiner persönlichen Daten im Rahmen des Kiezfonds Lichtenberg.</mat-label>-->
    <!--          </mat-checkbox>-->
    <mat-checkbox color="primary" #cb2 required>
      <mat-label>Ich habe die Datenschutzrichtlinien gelesen und akzeptiere diese.</mat-label>
    </mat-checkbox>
    <br>
    <mat-checkbox color="primary" #cb3 required>
      <mat-label>Ich habe das Infoblatt gelesen und nehme es zur Kenntnis.</mat-label>
    </mat-checkbox>
  </form>
  <br>
  <!--  <button mat-raised-button color="primary" routerLink="/formula">Weiter</button>-->
  <button mat-raised-button color="primary" routerLink="/antrag-stellen"
          [disabled]="!cb1.checked || !cb2.checked || !cb3.checked">Weiter</button>
  <br>
</div>
