<mat-toolbar>
  <h1>Registrierung</h1>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <div *ngIf="isSignedUp; else signupForm">
      Your registration is successful. Please login!
    </div>

    <ng-template #signupForm>
      <div class="row col-sm-6" style="max-width:350px;">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required email />
            <div *ngIf="f.submitted && email.invalid">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
                   required minlength="6" />
            <div *ngIf="f.submitted && password.invalid">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Register</button>
            <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
              Signup failed!<br/>{{errorMessage}}
            </div>
          </div>
        </form>
      </div>
    </ng-template>
  </mat-card-content>
  <mat-card-actions>
    <!--REGISTER BUTTON HERE-->
    <p>Sie sind bei uns schon angemeldet? Dann können sie sich direkt einloggen: <a routerLink="login">Login</a>.</p>
   <!-- <button class="registrierungbtn" mat-raised-button color="primary">Registrieren</button>-->

  </mat-card-actions>
  <div  class="einloggen">

  </div>
</mat-card>

<!--
<mat-toolbar>
  <h1>Registrierung</h1>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form class="my-form">
      FORM FIELDS HERE-->

<!--
<mat-form-field class="full-width">
  <mat-label>Email</mat-label>
  <input  matInput  placeholder="Email" name="email" required>
  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
<mat-form-field class="full-width">
  <label>
    <input matInput placeholder="Email bestätigen" [formControl]="email" required>
  </label>
  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
<mat-form-field class="full-width">
  <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field>
<mat-form-field class="full-width">

  <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>

</mat-form-field>
</form>
</mat-card-content>
<mat-card-actions>
  REGISTER BUTTON HERE-->
<!--
  <p>haben Sie schon ein Account? <a href="#">Einlogen</a>.</p>
  <button class="registrierungbtn"mat-raised-button color="primary">Registrieren</button>

</mat-card-actions>
<div class="einlogen">

</div>
</mat-card>
-->

