
<div class="reg">
  <h2 style="text-align: center">Registrierung</h2>


<mat-card class="my-card" *ngIf="!(isActivated || activationFailed)">
  <mat-card-header>
    <mat-card-title></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="isSignedUp; else signupForm">
      <p>Sie haben sich erfolgreich registriert! Um Ihren Account freizuschalten, klicken Sie bitte auf den an die von
        Ihnen angegebene Email-Adresse gesendeten Link.</p>
    </div>
    <div *ngIf="isSignUpFailed">
      <span>{{getErrorMessage()}}</span>
    </div>
    <form name="my-form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <ng-template #signupForm>
        <mat-form-field class="full-width">
          <mat-label>E-Mail</mat-label>
          <input matInput placeholder="E-Mail" [(ngModel)]="form.email" type="email" name="email"
                 [formControl]="emailFormControl" required>
          <mat-error *ngIf="emailFormControl.invalid">{{getErrorEmail()}}</mat-error>
        </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>E-Mail bestätigen</mat-label>
            <input matInput placeholder="E-Mail bestätigen" [(ngModel)]="form.emailConfirm" type="email"
                   name="emailConfirm" [formControl]="emailConfirmFormControl" required>
            <mat-error *ngIf="emailFormControl.invalid">{{getErrorEmail()}}</mat-error>

          </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Passwort</mat-label>
          <input matInput placeholder="Passwort" [(ngModel)]="form.password" type="password" name="password"
                 [formControl]="passwordFormControl" required>
          <mat-error *ngIf="emailFormControl.invalid">{{getErrorPassword()}}</mat-error>
        </mat-form-field>
          <mat-form-field class="full-width">
          <mat-label>Passwort bestätigen</mat-label>
          <input matInput placeholder="Passwort bestätigen" [(ngModel)]="form.passwordConfirm" type="password"
                 name="passwordConfirm" [formControl]="passwordConfirmFormControl" required>
            <mat-error *ngIf="emailFormControl.invalid">{{getErrorPassword()}}</mat-error>
          </mat-form-field>
      </ng-template>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button  *ngIf="!isSignedUp" color="primary" type="submit" (click)="onSubmit()">Registrieren</button>
    <p *ngIf="!isSignedUp">Sie sind bei uns schon registriert? Dann können Sie sich direkt <a routerLink="../login">einloggen</a>.</p>
  </mat-card-actions>
</mat-card>
</div>

