.container {
  /*display: flex;*/
  /*flex-direction: column;*/
  margin-top:20px;
  margin:6em;
}
/*.mat-sidenav-container{
  width: 0 !important;
}*/
.container > * {
  width: 100%;
}
.container .mat-radio-button {
  margin: 0 12px;
}
h1
{
  font-size: 30px;
  text-align: center;
}
mat-form-field
{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
}
table {
  width: 100%;
  /*border-bottom: none;*/
}
.container > div{
  font-size: 14px;
  margin-bottom: 30px;
}
*
{
  font-family: Source Sans Pro, sans-serif;
}
.example-button-row > button
{
  margin-right: 8px;
  /*  background-color: #4d4a6f;*/
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
}
.example-button-row>button:hover
{
  text-decoration: none;
  color: white;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: lighter;
  font-style: normal;
  font-size: 20px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

.preview-table > td {
  vertical-align: top;
}
.preview-table > th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.preview-table > tr:hover {background-color: #f5f5f5;}
.preview-table{
  padding: 20px;
}
/* CSS für dieBeträge*/
/*.table, th, td {*/
/*  border: 1px solid grey;*/
/*}*/
.mat-label{
  margin: 100%;
}
.mat-table{
  width: 100%;
}

.table-responsive, mat-elevation-z8 {
}

.unterschrift {
  text-align: right;
}
.info-table {
  justify-content: right;
}

kendo-pdf-export {
  font-family: "DejaVu Sans", "Arial", sans-serif;
  font-size: 16px;
}
@font-face {
  font-family: "DejaVu Sans";
  src: url("https://kendo.cdn.telerik.com/2020.1.114/styles/fonts/DejaVu/DejaVuSans.ttf") format("truetype");
}
