<div class="container">
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="formPers"><!--   -->
      <form name="formPers" #formPers="ngForm" novalidate> <!-- (ngSubmit)="f.form.valid&& onSubmit()"  -->
        <ng-template matStepLabel>Persönliche Angaben</ng-template>
        <mat-form-field>
          <mat-label>Anrede</mat-label>
          <mat-select placeholder="Anrede" name="anrede" id="anrede" [(ngModel)]="form.anrede" #anrede required>
            <mat-option value="Frau">Frau</mat-option>
            <mat-option value="Herr">Herr</mat-option>
            <mat-option value="Divers">Divers</mat-option>
          </mat-select>
          <mat-error *ngIf="anrede.required">Sie müssen dieses Feld ausfüllen.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Vorname</mat-label>
          <input matInput placeholder="Vorname" name="vorname" [(ngModel)]="form.vorname" #vorname required>
          <mat-error *ngIf="vorname.required">Bitte tragen Sie Ihren Vornamen ein.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nachname</mat-label>
          <input matInput placeholder="Nachname" name="nachname" [(ngModel)]="form.nachname" #nachname required>
          <mat-error *ngIf="nachname.required">Bitte tragen Sie Ihren Nachnamen ein.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Träger/Einrichtung</mat-label>
          <input matInput placeholder="Träger/Einrichtung" name="einrichtung" [(ngModel)]="form.einrichtung">
        </mat-form-field>
        <table class="form-table" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>Straße</mat-label>
            <input matInput placeholder="Straße" name="strasse" [(ngModel)]="form.strasse" #strasse required>
            <mat-error *ngIf="strasse.required">Bitte tragen Sie Ihre vollständige Adresse ein.</mat-error>
          </mat-form-field></td>
          <td><mat-form-field class="form-table">
            <mat-label>Hausnummer</mat-label>
            <input matInput placeholder="Hausnummer" name="hausnr" [(ngModel)]="form.hausnr" #hausnr required>
            <mat-error *ngIf="hausnr.required">Bitte tragen Sie Ihre vollständige Adresse ein.</mat-error>
          </mat-form-field></td>
          <td><mat-form-field class="form-table">
            <mat-label>Postleitzahl</mat-label>
            <input matInput minlength="5" maxlength="5" placeholder="Postleitzahl" name="plz" [(ngModel)]="form.plz"
                   #plz required>
            <mat-hint align="end">{{plz.value.length}} / 5</mat-hint>
            <mat-error *ngIf="plz.required">Bitte tragen Sie Ihre vollständige Adresse ein.</mat-error>
          </mat-form-field></td>
        </tr></table>
        <mat-form-field>
          <mat-label>E-Mail</mat-label>
          <input matInput placeholder="Geben Sie Ihre E-Mail Adresse an" name="email" [(ngModel)]="form.email"
                 [formControl]="emailFormControl" required> <!--#email="ngModel"-->
          <mat-error *ngIf="emailFormControl.invalid">{{getErrorEmail()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Telefon</mat-label>
          <span matPrefix>+49 &nbsp;</span>
          <input matInput maxlength="11" placeholder="Geben Sie Ihre Telefonnummer an" name="telnr"
                 [(ngModel)]="form.telnr">
        </mat-form-field>
        <div class="example-button-row" >
          <button mat-raised-button color="primary" matStepperNext type="button">Weiter</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="formProj"><!--   -->
      <form name="formProj" #formProj="ngForm" novalidate>
        <ng-template matStepLabel>Angaben zu Ihren Projekt</ng-template>
        <mat-form-field>
          <mat-label>Projektname</mat-label>
          <input matInput placeholder="Projektname" name="projektname" maxLength="200" required
                 [(ngModel)]="form.projektname" #projektname>
          <mat-error *ngIf="projektname.required">Bitte geben Sie einen Projektnamen ein.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Beschreibung" name="beschreibung" required [(ngModel)]="form.beschreibung"
                    #beschreibung></textarea>
          <mat-error *ngIf="beschreibung.required">Beschreiben Sie bitte kurz Ihren Projekt.</mat-error>
        </mat-form-field>
        <table class="form-table" cellspacing="0"><tr>
          <td><mat-form-field>
            <mat-label>Gewünschtes Startdatum</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="TT.MM.JJJJ" name="startdatum"
                   [min]="minStartDate" [(ngModel)]="form.startdatum" #startdatum required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="startdatum.required">Geben Sie bitte ein gültiges Startdatum ein.</mat-error>
          </mat-form-field></td>
          <td><mat-form-field>
            <mat-label>Gewünschtes Enddatum</mat-label>
            <input matInput [matDatepicker]="pickers" placeholder="TT.MM.JJJJ" name="enddatum"
                   [min]="form.startdatum" [(ngModel)]="form.enddatum" #enddatum required>

            <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
            <mat-datepicker #pickers></mat-datepicker>
            <mat-error *ngIf="enddatum.required">Geben Sie bitte ein gültiges Enddatum ein.</mat-error>
          </mat-form-field></td>
        </tr></table>
        <mat-form-field>
          <mat-label>Ort</mat-label>
          <mat-select placeholder="Geplantes Ort" name="ort" [(ngModel)]="form.ort" #ort required>
            <mat-option value="Neu-Hohenschönhausen Nord">Neu-Hohenschönhausen Nord</mat-option>
            <mat-option value="Neu-Hohenschönhausen Süd">Neu-Hohenschönhausen Süd</mat-option>
            <mat-option value="Wartenberg, Falkenberg und Malchow">Wartenberg, Falkenberg und Malchow</mat-option>
          </mat-select>
          <mat-error *ngIf="ort.required">Sie müssen den Ort für Ihren Projekt auswählen.</mat-error>
        </mat-form-field>
        <table class="form-table" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>Zielgruppe</mat-label>
            <input matInput placeholder="Zielgruppe" name="zielgruppe" [(ngModel)]="form.zielgruppe" #zielgruppe>
          </mat-form-field></td>
          <td><mat-form-field class="form-table">
            <mat-label>Anzahl Teilnehmer</mat-label>
            <input matInput type="number" min="1" placeholder="Anzahl der Teilnehmer" name="anzteiln" required
                   [(ngModel)]="form.anzteiln" #anzteiln>
            <mat-error *ngIf="anzteiln.required">Der Projekt muss mindestens einen Teilnehmer haben.</mat-error>
          </mat-form-field></td>
        </tr></table>
        <mat-form-field>
          <mat-label>Sind öffentlichkeitswirksame Arbeiten geplant?</mat-label>
          <mat-select placeholder="Sind öffentlichkeitswirksame Arbeiten geplant?" name="oeffarb" required
                      [(ngModel)]="form.oeffarb" #oeffarb>
            <mat-option value="Ja">Ja</mat-option>
            <mat-option value="Nein">Nein</mat-option>
          </mat-select>
          <mat-error *ngIf="oeffarb.required">Geben Sie bitte an, ob öffentlichkeitswirksame Arbeiten geplant sind.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Beschreiben Sie diese:" name="oeffarbbeschr"
                    [(ngModel)]="form.oeffarbbeschr" #oeffarbbeschr [required]="form.oeffarb==='Ja'">
          </textarea>
          <mat-error *ngIf="oeffarbbeschr.required">
            Beschreiben Sie bitte die geplanten öffentlichkeitswirksamen Arbeiten.</mat-error>
        </mat-form-field>

        <div class="kosten">
          <mat-label>Aufwandsentschädigungen</mat-label>
          <div class='table-responsive mat-elevation-z8' id="aufwand">
            <table mat-table [dataSource]="dataSourceAufwand" name="aufwand" class="mat-table">
              <!-- Posten Column -->
              <ng-container matColumnDef="Posten">
                <th mat-header-cell *matHeaderCellDef col width="800"><b> Posten </b></th>
                <td mat-cell *matCellDef="let element">
                  <input matInput name="zweck" placeholder="Beschreibung:" id="zweckAufwand" class="zweck-aufwand">
                </td>
                <td mat-footer-cell *matFooterCellDef > <b>Summe: </b></td>
              </ng-container>
              <!-- Betrag Column -->
              <ng-container matColumnDef="Betrag">
                <th mat-header-cell *matHeaderCellDef > <b>Betrag</b> </th>
                <td mat-cell *matCellDef="let element">
                  <input matInput type="number" min="1" name="kosten" id="betragAufwand"
                         #betragAufwand (keyup.enter)="addElementAufwand($event)" placeholder="€ 0,00"></td>
                <td mat-footer-cell *matFooterCellDef >{{aufwandSumme| currency : "€"}} <br>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" ><input></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
          </div>
          <br>
          <mat-label>Sachkosten</mat-label>
          <div class='table-responsive mat-elevation-z8' id="sachkosten">
<!--            <table mat-table [dataSource]="dataSource" class="mat-table">-->
<!--              <ng-container matColumnDef="position">-->
<!--                <th mat-header-cell *matHeaderCellDef> No. </th>-->
<!--                <td mat-cell *matCellDef="let row let rowIndex = index"  [formGroupName]="rowIndex">-->
<!--                  <input mat-input type="text" size="2" formControlName="position"> </td>-->
<!--              </ng-container>-->
<!--              <ng-container matColumnDef="name">-->
<!--                <th mat-header-cell *matHeaderCellDef> Name </th>-->
<!--                <td mat-cell *matCellDef="let row let rowIndex = index"  [formGroupName]="rowIndex">-->
<!--                  <input type="text" size="7" formControlName="name">-->
<!--                </td>-->
<!--              </ng-container>-->
<!--              &lt;!&ndash; Header and Row Declarations &ndash;&gt;-->
<!--              <tr mat-header-row *matHeaderRowDef="displayedColumnsTest"></tr>-->
<!--              <tr mat-row *matRowDef="let row; columns: displayedColumnsTest;"></tr>-->
<!--            </table>-->
            <table mat-table [dataSource]="dataSourceSachkosten" name="sachkosten" class="mat-table">
              <!-- Posten Column -->
              <ng-container matColumnDef="Posten">
                <th mat-header-cell *matHeaderCellDef col width="800" > <b>Posten</b> </th>
                <td mat-cell *matCellDef="let element">
                  <input matInput name="zweck" placeholder="Beschreibung:" class="zweck-sachkosten">
                </td>
                <td mat-footer-cell *matFooterCellDef ><b>Summe:</b>  </td>
              </ng-container>
              <!-- Betrag Column -->
              <ng-container matColumnDef="Betrag">
                <th mat-header-cell *matHeaderCellDef > <b>Betrag </b></th>
                <td mat-cell *matCellDef="let element"><label for="betrag">Betrag</label>
                  <input matInput type="number" min="1" name="kosten" id="betrag"
                   #betragSachkosten (keyup.enter)="addElementSachkosten($event)" placeholder="€ 0,00"></td>
                <td mat-footer-cell *matFooterCellDef >{{sachkostenSumme| currency : "€"}} <br>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" ><input></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
          </div>
          <br>
          <h5>Gesamtbetrag: {{gesamtSumme| currency : "€"}}</h5>
          <mat-error *ngIf="gesamtSumme > 1000">{{getError()}}</mat-error>
        </div>

        <div class="example-button-row" >
          <button mat-raised-button color="primary" matStepperPrevious type="button">Zurück</button>
          <button mat-raised-button color="primary" matStepperNext type="button">Weiter</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Angaben überprüfen&absenden</ng-template>
<!--      <div *ngIf="isSubmitted; else preview">-->
<!--        <h2>Sie sind jetzt fertig!</h2>-->
<!--        <p>Sie haben erfolgreich Ihren Antrag gestellt! Vergessen Sie bitte nicht, ihn auszudrucken und zu unterschreiben.</p>-->
<!--        <div class="example-button-row">-->
<!--          <button mat-raised-button color="primary" type="submit" > &lt;!&ndash;(click)="generatePdf()"&ndash;&gt;-->
<!--            <i class="material-icons">cloud_download</i>-->
<!--            <span> PDF herunterladen</span>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div style="overflow-x:auto;">-->
<!--        <ng-template>-->
          <div name="pdf" #pdf style="overflow-x:auto;">
            <h3 *ngIf="!isSubmitted">Überprüfen Sie Ihre Angaben:</h3>
  <!--          <kendo-pdf-export>  -->
            <h3 *ngIf="isSubmitted">Antrag zum Kiezfond Lichtenberg</h3>
            <table *ngIf="isSubmitted" [hidden] class="info-table">
              <tr><td>Formular-ID: </td><td>{{formId}}</td></tr>
              <tr><td>Erstellungsdatum: </td><td>{{createdAt}}</td></tr>
            </table>
            <h5>Persönliche Angaben</h5>
            <table class="preview-table">
              <tr><td>Anrede: </td><td>{{form.anrede}}</td></tr>
              <tr><td>Vorname: </td><td> {{form.vorname}} </td></tr>
              <tr><td>Nachname: </td><td>{{form.nachname}}</td></tr>
              <tr><td>Träger/Einrichtung: </td><td>{{form.einrichtung}}</td></tr>
              <tr><td>Straße: </td><td>{{form.strasse}}</td></tr>
              <tr><td>Hausnummer: </td><td>{{form.hausnr}}</td></tr>
              <tr><td>Postleitzahl: </td><td>{{form.plz}}</td></tr>
              <tr><td>E-Mail: </td><td>{{form.email}}</td></tr>
              <tr><td>Telefon: </td><td>{{form.telnr}}</td></tr>
            </table>
            <table *ngIf="isSubmitted" [hidden] class="info-table">
              <tr><td>Formular-ID: </td><td>{{formId}}</td></tr>
              <tr><td>Erstellungsdatum: </td><td>{{createdAt}}</td></tr>
            </table>
            <h5>Angaben zum Projekt</h5>
            <table class="preview-table">
              <tr><td>Projektname: </td><td>{{form.projektname}}</td></tr>
              <tr><td>Beschreibung: </td><td>{{form.beschreibung}}</td></tr>
              <tr><td>Gewünschtes Startdatum: </td><td>{{form.startdatum}}</td></tr>
              <tr><td>Gewünschtes Enddatum: </td><td>{{form.enddatum}}</td></tr>
              <tr><td>Geplantes Ort: </td><td>{{form.ort}}</td></tr>
              <tr><td>Zielgruppe: </td><td>{{form.zielgruppe}}</td></tr>
              <tr><td>Anzahl Teilnehmer: </td><td>{{form.anzteiln}}</td></tr>
              <tr><td>öffentlichkeitswirksame Arbeiten: </td><td>{{form.oeffarb}}</td></tr>
              <tr><td>Deren Beschreibung: </td><td>{{form.oeffarbbeschr}}</td></tr>
              <tr><td>Gesamtkosten: </td><td>{{gesamtSumme}}</td></tr>
            </table>
            <h5>Kosten</h5>
            <p><b>Aufwandsentschädigungen</b></p>
            <ng-container *ngIf="aufwandKostenExist; else keineAufwandkosten">
              <table class="preview-table">
                <ng-container *ngFor="let aufwand of aufwandKostenArray">
                  <tr><th>Posten </th><th>Betrag </th></tr>
                  <tr><td>{{aufwand.zweck}}: </td><td>{{aufwand.cost}}</td></tr>
                </ng-container>
              </table>
            </ng-container>
            <div id="keineAufwandkosten">
              <ng-template #keineAufwandkosten>
                <p>Es wurden keine Aufwandsentschädigungskosten angegeben.</p>
              </ng-template>
            </div>
            <p><b>Sachkosten</b></p>
            <ng-container *ngIf="sachKostenExist; else keineSachkosten">
              <table class="preview-table">
                <ng-container *ngFor="let sachkosten of sachKostenArray">
                  <tr><th>Posten </th><th>Betrag </th></tr>
                  <tr><td>{{sachkosten.zweck}}: </td><td>{{sachkosten.cost}}</td></tr>
                </ng-container>
              </table>
            </ng-container>
            <div id="keineSachkosten">
              <ng-template #keineSachkosten>
                <p>Es wurden keine Sachkosten angegeben.</p>
              </ng-template>
            </div>
            <span class="unterschrift" *ngIf="isSubmitted">Unterschrift: _________________________</span>
          </div>
          <div class="example-button-row" *ngIf="!isSubmitted">
            <button mat-raised-button color="primary" matStepperPrevious type="button">Zurück</button>
            <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Antrag senden</button>
          </div>
<!--          </kendo-pdf-export> -->

          <div *ngIf="isSubmitted">
            <h2>Sie sind jetzt fertig!</h2>
            <p>Sie haben erfolgreich Ihren Antrag gestellt! Vergessen Sie bitte nicht, ihn auszudrucken
              und zu unterschreiben.</p>
            <div class="example-button-row">
              <button mat-raised-button color="primary" type="submit" >
                <i class="material-icons">cloud_download</i><span> PDF herunterladen</span>
              </button>
            </div>
          </div>
<!--        </ng-template>-->
<!--      </div>-->
    </mat-step>
  </mat-horizontal-stepper>
</div>
