<div class="inhalt_gs" >
  <h3>Übersicht über eingegangenen Anträge</h3>
  <hr>
  <div class="bearbeitung">
  <h4>In Bearbeitung</h4>
    <p>Datum: </p>
    <P>Titel: </P>
    <div class="example-button-row">
      <a mat-raised-button color="primary" routerLink="detailseite" >Zum Antrag</a>
    </div>

  </div>
  <hr>
  <div class="angenommen">
    <h4>Angenommen</h4>
    <p>Datum: </p>
    <p>Titel: </p>
  </div>
  <hr>
  <div class="abgelehnt">
    <h4>Abgelehnt</h4>
    <p>Datum: </p>
    <p>Titel: </p>
  </div>
</div>
