<div class="inhalt_gs" >
  <div *ngIf="geschaeftsstelle">
    <h3>Übersicht über eingegangenen Anträge</h3>
    <div *ngFor="let application of geschaeftsstelle?.applications">
    <hr>
  <!--
    <div class="bearbeitung" *ngIf="this.isInBearbeitung">
  -->
      <div class="bearbeitung" *ngIf="application.status==='0'">

      <h4>In Bearbeitung</h4>
     <table>
       <tr>
         <td>projectName</td><td>{{application.projectName}}</td>
       </tr>
       <tr>
         <td>startDate</td><td>{{application.startDate}}</td>
       </tr>
     </table>
      <div class="example-button-row">
        <a mat-raised-button color="primary" routerLink="detailseite" >Zum Antrag</a>
      </div>

    </div>
    <hr>
    <div class="angenommen" *ngIf="application.status==='1'">
      <h4>Angenommen</h4>
      <table>
        <tr>
          <td>projectName</td><td>{{application.projectName}}</td>
        </tr>
        <tr>
          <td>startDate</td><td>{{application.startDate}}</td>
        </tr>
      </table>
    </div>
    <hr>
    <div class="abgelehnt" *ngIf="application.status==='2'">
      <h4>Abgelehnt</h4>
      <table>
        <tr>
          <td>projectName</td><td>{{application.projectName}}</td>
        </tr>
        <tr>
          <td>startDate</td><td>{{application.startDate}}</td>
        </tr>
      </table>
    </div>
    </div>
  </div>
</div>
