<div class="content">
  <div class="bereich1">
    <mat-card class="card">
      <div  class="image-container">
        <img mat-card-image class="hauptbild"
             src="https://images.homify.com/images/a_0,c_fill,f_auto,h_900,q_auto,w_1920/v1437058100/p/photo/image/4909/TheSquare3_F_Bird_s_Eye_NIGHT_NEW/modern-einkaufscenter-bilder-von-moritz-gruppe-gmbh.jpg"/>
        <div class="centered"><h1>Kiezfonds & Bürgerhaushalt</h1></div>
      </div>
    </mat-card>


  <div class="bereich2">
    <mat-card class="introcard">

      <div class="content-container">
        <mat-card-titel><h2>vorschlagen<br/>
          verändern<br/>
          engagieren<br/>
          gestalten<br/></h2></mat-card-titel>
        <p style="text-align: center;">Wer Zeit und Lust hat, mit zu entscheiden, ob Kiezfeste organsiert, Parkbänke platziert oder Infotafeln aufgestellt werden sollen, ist herzlich dazu eingeladen, sich in der Bürgerjury seines Kiezes zu engagieren.
          Gesucht werden Jurymitglieder für alle Stadtteile.
        </p>

        <hr>
        <h2 >Das Grundlegende zum Kiezfonds</h2>
        <p >Für jeden der 13 Stadtteile in Lichtenberg steht ein Budget in Höhe von 10.000 Euro bereit, das die Bürgerinnen und Bürger innerhalb eines Jahres
          für Klein-Projekte ausgeben können. <br>
          Im Stadtteil Hohenschönhausen Nord sind das drei Kiezfonds:<br> 1. Malchow, Wartenberg, Falkenberg (die Dörfer),<br> 2. Neu-Hohenschönhausen Nord und<br> 3. Neu-Hohenschönhausen Süd.

          <br>
        <div ><h2>Der Kiezfonds unterstützt folgende Aktionen oder Projekte</h2></div>
        <ul>
          <li>Selbsthilfe- und Nachbarschaftsprojekte</li>
          <li>Verschönerung von Spielplätzen, Gehweg – oder Straßenbereichen, Gebäudefassaden o.ä.</li>
          <li>Pflanzaktionen in Ihrer Straße </li>
          <li>Hoffeste, Nachbarschaftsfeste, Straßenfeste</li>
          <li>Lehr- und Diskussionsveranstaltungen</li>
          <li>Material für Bürgerinformationen</li>
          <li>und vieles Weitere</li>
        </ul>
        <p><img class="subbild" src="  http://www.vav-hhausen.de/Stadtteilarbeit/Kiezfonds/images/skyline-191126.jpg" ></p>
        <div ><h2>Voraussetzungen für Aktionen und Projekte</h2></div>
        <ul>
          <li>Beitrag zur Entwicklung des Stadtteils </li>
          <li>Aktivierung der Bewohner*innen</li>
          <li>Förderung und Anleitung zur Selbsthilfe  </li>
          <li>Förderung der Eigenverantwortung</li>
          <li>Stärkung nachbarschaftlicher Kontakte </li>
          <li>Nutzen für die Gemeinschaft/ Nachbarschaft</li>
          <li>Unterstützung von ehrenamtlichen Engagement</li>
        </ul>
        Eine Auswahl der Projekte, die zwischen 2010 bis 2018 konkret realisiert wurden und künftig durchaus wieder dabei sein könnten:<br>
        <ul>
          <li class="liste-lightblue">Buntes Ostseeviertel - Bemalen von Strom- und Verteilerkästen</li>
          <li>Sternenmarkt - ein Weihnachtsmarkt in der Woldegker Straße</li>
          <li>Hof-, Nachbarschafts-, Stra&szlig;enfeste</li>
          <li> Versch&ouml;nerung von Spielpl&auml;tzen, Gehweg- oder Stra&szlig;enbereichen </li>
          <li>Pflanzaktionen </li>
          <li>Lehr- und Diskussionsveranstaltungen</li>
          <li> Selbsthilfe- und Nachbarschaftsprojekte </li>
          <li> Material f&uuml;r B&uuml;rgerinformationen</li></ul>
      </div>
    </mat-card>

  </div>

  <div class="bereich3">
    <mat-card class="introcard">

      <div class="content-container">
        <h4>Informationen und Projekte</h4>
        <p style="text-align: center;">Von der Idee zur Bewilligung: <br/>

          1. Vor der Antragstellung können Sie eine Beratung bei Ihrer Stadtteilkoordination in Anspruch nehmen.<br/>
          2. Sie können einen Antrag stellen mit dem entsprechend vorbereitete Formular von der Internetseite https://www.buergerhaushalt-lichtenberg.de/vordrucke. Es enthält die wichtigsten Informationen, um der Jury einen Eindruck von Art und Umfang ihres Projektes zu geben.<br/>
          3. Sie geben den Antrag bei der zuständigen Stadtteilkoordination oder Geschäftsstelle ab. Der Antrag wird bei der nächsten Sitzung der Bürgerjury besprochen. Sie haben vor Ort die Möglichkeit Ihren Vorschlag zu erläutern.<br/>
          4. Die Bürgerjury entscheidet über eine Förderung. Das Ergebnis wird Ihnen direkt mitgeteilt.<br/>
          5. Gemeinsam mit der Geschäftsstelle vereinbaren Sie die Umsetzung ihres Projektes, von der Finanzierung bis zur Abrechnung.</p>
      </div>
    </mat-card>
  </div>
  </div>
</div>
