<mat-toolbar>
  <h2>Passwort zurücksetzen</h2>
</mat-toolbar>

<div class="container">
  <mat-card class="my-card">
    <mat-card-header>
      <mat-card-title>Bitte geben Sie Ihren E-Mail-Adresse ein:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="isSubmitted; else forgotPasswordForm">
        <p>Ein Link zum Passwortrücksetzen wurde an die eingegebene E-Mail-Adresse gesendet.</p>
      </div>
      <form name="my-form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <ng-template #forgotPasswordForm>
          <mat-form-field class="full-width">
            <mat-label>E-Mail</mat-label>
            <input matInput placeholder="E-Mail" [(ngModel)]="form.email" name="email" required>
          </mat-form-field>
        </ng-template>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button  *ngIf="!isSubmitted" color="primary" type="submit" (click)="onSubmit()">Link erhalten</button>
    </mat-card-actions>
  </mat-card>
</div>
